<div class="container mt-5">

  <div class="d-flex gap-3">

    <div class="d-flex flex-column gap-5 p-5 bg-white rounded-5">
      <div class="d-flex">
        <img class="object-fit-cover rounded-circle" src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" width="250" height="250">
      </div>

      <div class="mb-4 text-center">
        <h1 class="mb-2"><strong><%= @user.first_name %> <%= @user.last_name %></strong></h1>
        <p class="mb-2"><strong>Email:</strong> <%= @user.email %></p>
        <p class="mb-2"><strong>Birth date:</strong> <%= @user.birth_date %></p>
        <%= link_to "Add a new beer", new_beer_path, class:"btn btn-outline-primary mt-4 p-3 px-5 rounded-3" %>
      </div>
    </div>

    <div class="d-flex flex-column flex-grow-1 gap-5 p-5 bg-white rounded-5">
      <h1>My show room</h1>

      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% @beers.each do |beer| %>
        <div class="col">
          <div class="card h-100">
            <%= cl_image_tag beer.photo.key, width: 400, height: 400, class: " bg-white p-5 card-img-top object-fit-contain"%>
            <div class="card-body bg-white">
              <h5 class="card-title"> <%= beer.name %> </h5>
              <p class="card-title"> <em><%= beer.centiliter %>cl</em></p>
                <div class="d-flex justify-content-between align-items-center">
                <p class="card-title mb-0"><b><%= beer.unit_price %> €</b></p>
                <%= link_to "See more", beer_path(beer), class: "btn btn-outline-primary" %>
                </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
