<%= render "shared/back" %>
<%= simple_form_for @beer do |f| %>
  <div class="input">
    <%= f.input :name, input_html: { class: "form-control-lg" } %>
  </div>

  <div class="input">
    <%= f.input :degree, collection: 4..20, input_html: { class: "form-control-lg" } %>
  </div>

  <div class="input d-flex gap-3 w-100">
    <div class="flex-grow-1">
      <%= f.input :centiliter, as: :select, collection: Beer::CENTILITER, input_html: { class: "form-control-lg" } %>
    </div>

    <div class="flex-grow-1">
      <%= f.input :conditionnement, as: :select, collection: Beer::CONDITIONNEMENTS, input_html: { class: "form-control-lg" } %>
    </div>

    <div class="flex-grow-1">
      <%= f.input :beer_type, as: :select, collection: Beer::BEER_TYPES, input_html: { class: "form-control-lg" } %>
    </div>
  </div>

  <div class="input">
    <%= f.input :unit_price, input_html: { class: "form-control-lg" } %>
  </div>

  <div class="input">
    <%= f.input :photo, as: :file, input_html: { class: "form-control-lg" } %>
  </div>

  <div class="input">
    <%= f.input :description, as: :text, input_html: { class: "form-control-lg" } %>
  </div>

  <%= f.button :submit, class: "w-100 btn btn-primary btn-lg" %>
<% end %>
