<div class="container">
  <h1>Recapitulatif de la commande:</h1>


  <div class="d-flex gap-5">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <% if @order.beer.photo.attached? %>
                <%= cl_image_tag @order.beer.photo.key, alt: @order.beer.name, class: "img-fluid rounded-start" %>
              <% else %>
                <p>Aucune image disponible</p>
              <% end %>
        </div>
        <div class="col-md-8 flex-grow-1">
          <div class="card-body">
            <h5 class="card-title"><strong>Nom:</strong> <%= @order.beer.name %></h5>
              <p><strong>Type de bière:</strong> <%= @order.beer.beer_type %></p>
              <p><strong>Conditionnement:</strong> <%= @order.beer.conditionnement %></p>
              <p><strong>CL:</strong> <%= @order.beer.centiliter %></p>
              <p><strong>Prix:</strong> <%= @order.beer.unit_price %>€</p>
              <p><strong>Description:</strong> <%= @order.beer.description %></p>
          </div>
        </div>
      </div>
    </div>
        <div class="col-6 col-md-4 p-4 border position-relative">
          <h3>Total de la commande:</h3>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><%= @order.beer.name %></li>
            <li class="list-group-item">x<%= @order.quantity %></li>
            <li class="list-group-item">= <%= @order.beer.unit_price * @order.quantity %>€ </li>
          </ul>
          <div class="bottom-right position-absolute bottom-0 end-0 p-2">
          <p><strong>Montant total:</strong> <%= number_to_currency(@order.beer.unit_price * @order.quantity) %></p>
          </div>
        </div>
  </div>



<%= render "shared/back" %>
</div>
