
<div class="container-fluid vh-100 bg-white">
  <div class="h-75 w-75 d-flex flex-row bg-white container-fluid vh-100 d-flex justify-content-center align-items-center">
    <!-- Image à gauche -->
    <div class="col-md-6 text-center">
      <%= cl_image_tag @beer.photo.key, width: 400, class: "img-fluid h-100 rounded-start object-fit-contain"%>
    </div>

    <!-- Texte à droite -->
    <div class="col-md-6 flex-column d-flex flex-column justify-content-between text-start p-4">
      <div class="card-body">
        <%= render "shared/back" %>
        <h1 class="card-title"><strong><%= @beer.name %></strong></h1>
        <p class="card-text text-muted fs-3">Unit Price : <%= @beer.unit_price %>€</p>
        <h4 class="card-text">Type de bière : <%= @beer.beer_type %></h4>
        <h5 class="card-text">Conditionnement : <%= @beer.conditionnement %></h5>
        <h5 class="card-text"><%= @beer.centiliter %> cl</h5>
        <p class="card-text"><strong>Description</strong> : <%= @beer.description %></p>


        <%= simple_form_for @order do |f| %>
          <%= f.input :quantity %>
          <%= f.hidden_field :beer_id, value: @beer.id %>
          <%= f.button :submit, class:"btn btn-danger btn-lg text-white custom-btn" %>
        <% end %>

        <!-- Bouton Ajouter au panier -->
        <%# <%= link_to "ajoutez au panier", new_beer_order_path(@beer),  class:"btn btn-danger btn-lg text-white custom-btn" %>
      </div>
    </div>
  </div>
</div>
