<div class="w-100">
  <div class="w-100 vh-100 d-flex">
    <div class="w-50 bg-principal overflow-hidden position-relative">
      <div class="absolute index-9">
        <%= render "shared/back" %>
      </div>
      <%= image_tag "product-1.png", style: "width: 100%; height: 100vh;", class: "blend hover-scale contain p-4" %>
    </div>


    <div class="w-50 d-flex flex-column justify-content-center">
      <div class="p-5">

        <h1 class="bebas l text-uppercase">
          <strong><%= @beer.name %></strong>
        </h1>

        <div class="s d-flex gap-2 my-2">
          <p><strong>Unit Price :</strong> <%= @beer.unit_price %>€</p> |
          <p><%= @beer.centiliter %> cl</p>
        </div>

        <p>
          <strong class="s">Description :</strong> <%= @beer.description %>
        </p>


        <%= simple_form_for @order, html: { data: { controller: "quantity", "unit-price-value": @beer.unit_price } } do |f| %>
        <p class="mt-4 s">
          <strong>Quantity</strong>
        </p>

          <div class="d-flex align-items-end gap-1 w-50">
            <button class="btn btn-rounded-quantity p-1 rounded-circle ratio"
                    type="button"
                    data-action="click->quantity#decrement">-
            </button>
            <%# <:quantity> %>
            <%= f.input :"",
              input_html: {
                data: { target: "price.quantity", action: "input->quantity#update" },
                class: 'py-1 text-center desactivation',
                style: 'width: 100%;',
                'data-quantity-target': 'quantity',
                value: 1, min: 1
              }
            %>

            <button class="btn btn-rounded-quantity p-1 rounded-circle ratio"
                    type="button"
                    data-action="click->quantity#increment">+
            </button>
          </div>

          <%= f.hidden_field :beer_id, value: @beer.id %>
          <%= f.button :submit,
              value: "Buy (#{@beer.unit_price})€",
              class: "btn cus-btn-primary-light py-1 w-100 rounded-4 mt-3",
              data: { target: "quantity.button" }
          %>
        <% end %>
      </div>
    </div>
  </div>
</div>
